@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper, .name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 600px;
  gap: 15px;
  flex-direction: column;
}

.main-info{
  padding: 30px;
  width: 500px;
  background-color: #d8efff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-header{
  display: flex;
  gap: 15px;
}

.name{
  width: 200px;
}

.picture{
  border-radius: 50%;
}

p{
  font-family: 'Roboto', sans-serif;
}
