<app-controls class="m-2" (OnOptionSelect)="findUsersByOptions($event)"></app-controls>

<dx-data-grid
  [dataSource]="users"
  [showColumnLines]="true"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true">
  <dxo-paging [pageSize]="25"></dxo-paging>
  <dxo-pager
    [visible]="true"
    [displayMode]="'full'"
    [showInfo]="true"
    [showNavigationButtons]="true"
  >
  </dxo-pager>
  <dxi-column dataField="surname" calculateDisplayValue="name.last"></dxi-column>
  <dxi-column dataField="name" calculateDisplayValue="name.first"></dxi-column>
  <dxi-column dataField="gender"></dxi-column>
  <dxi-column dataField="phone"></dxi-column>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
  <div *dxTemplate="let user of 'detail'">
    <div>
      <p>{{user.data?.location?.city}}</p>
      <p>{{user.data?.location?.street?.number}} {{user.data?.location?.street?.name}}</p>
      <p>{{user.data.email}}</p>
    </div>
  </div>
</dx-data-grid>
