<app-controls class="m-2" (OnOptionSelect)="findUsersByOptions($event)"></app-controls>

<dx-data-grid
  [dataSource]="users"
  [showColumnLines]="true"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-paging [pageSize]="25"></dxo-paging>
  <dxo-pager
    [visible]="true"
    [displayMode]="'full'"
    [showInfo]="true"
    [showNavigationButtons]="true"
  >
  </dxo-pager>
  <dxi-column
    dataField="Picture"
    [width]="100"
    [allowFiltering]="false"
    [allowSorting]="false"
    cellTemplate="cellTemplate">
  </dxi-column>
  <dxi-column dataField="name.last" caption="Name" [calculateDisplayValue]="transformName"></dxi-column>
  <dxi-column *ngIf="users[0]?.gender" dataField="gender"></dxi-column>
  <dxi-column *ngIf="users[0]?.phone" dataField="phone"></dxi-column>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
  <div *dxTemplate="let image of 'cellTemplate'">
    <img class="image" alt="image" [src]="image.data?.picture?.medium"/>
  </div>
  <div *dxTemplate="let user of 'detail'">
    <div class="details">
      <div class="info">
        <p *ngIf="user.data?.location">City: {{user.data?.location?.city}}</p>
        <p *ngIf="user.data?.location">
          Street: {{user.data?.location?.street?.number}} {{user.data?.location?.street?.name}}</p>
        <p *ngIf="user.data?.email">Email: {{user.data.email}}</p>
      </div>
    </div>
  </div>
</dx-data-grid>
